@model IEnumerable<you.Models.District>

@{
    ViewBag.Title = "Megye";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Megye</h2>

<p>
    @Html.ActionLink("Megye létrehozás", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
        <td>
            @Html.ActionLink("Szerkesztés", "Edit", new { id = item.DistrictID }) |
            @Html.ActionLink("Részletek", "Details", new { id = item.DistrictID }) |
            @Html.ActionLink("Törlés", "Delete", new { id = item.DistrictID })
        </td>
</tr>
}

</table>
