@model you.Models.User

@{
    ViewBag.Title = "Törlés";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Törlés</h2>

<h3>Biztos vagy benne, hogy törölni akarod a felhasználót?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza", "Index")
        </div>
    }
</div>
